<!--<p>Hello World!! {{title}}</p>
<app-header></app-header>
<app-footer></app-footer>
<button [disabled]="buttonDisplay">Click Me</button>
<button (click)="trigger($event)">Click Binding</button>
-->
<!--<
Enter First Input<input type="number" [(ngModel)]="one" >
Enter Second Input<input type="number" [(ngModel)]="two" >
<button (click)="compute($event)">Compute</button>

<p>Sum: {{sum}}</p>
<p>Divide: {{divide}}</p>
<p>Product: {{product}}</p>
<p>Difference: {{diff}}</p>
img [src]="imgurl">-->


<!--<app-age-component></app-age-component>-->
<!-- <app-parent></app-parent> -->
<!-- <app-template-forms></app-template-forms> -->
<!-- <app-inputeditor></app-inputeditor> -->

<!-- <ul *ngFor="let data of restData">
    <li>Name: {{data.name}}</li>
</ul> -->
<!-- <button (click)="displayData(data);loadDetails();">Get Details</button>
 -->
<!--  <button (click)="loadDetails();">Get Details</button>

 <app-httpsample *ngIf="cond"></app-httpsample>
<div *ngIf="cond1">
<ul *ngFor="let data1 of restData" >
        <li>Name: {{data1.name}}</li>
    </ul>
</div> -->

<p>Root Component(Routing Demo)</p>
<!-- <app-login></app-login>
<app-dashboard></app-dashboard>
<app-index></app-index>
<app-about></app-about>
<app-help></app-help>
<app-contact></app-contact>
<app-logout></app-logout> -->


<nav>
    <a routerLink='about' routerLinkAction='active'>About</a> |
    <a routerLink='index' routerLinkAction='active'>Index</a> |
    <a routerLink='help' routerLinkAction='active'>Help</a> |
    <a routerLink='contact' routerLinkAction='active'>Contact</a> |
    <a routerLink='login' routerLinkAction='active'>Login</a> 

</nav>
<router-outlet></router-outlet>


<app-employee></app-employee>