<!--<p>Hello World!! {{title}}</p>
<app-header></app-header>
<app-footer></app-footer>
<button [disabled]="buttonDisplay">Click Me</button>
<button (click)="trigger($event)">Click Binding</button>
-->
<!--<
Enter First Input<input type="number" [(ngModel)]="one" >
Enter Second Input<input type="number" [(ngModel)]="two" >
<button (click)="compute($event)">Compute</button>

<p>Sum: {{sum}}</p>
<p>Divide: {{divide}}</p>
<p>Product: {{product}}</p>
<p>Difference: {{diff}}</p>
img [src]="imgurl">-->


<!--<app-age-component></app-age-component>-->
<!-- <app-parent></app-parent> -->
<!-- <app-template-forms></app-template-forms> -->
<app-inputeditor></app-inputeditor>